.App {
  box-sizing: border-box;
  height:100vh;
  text-align: center;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(rgb(98, 135, 64), rgb(78, 60, 41));
}
.main{
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  align-items: center;
 
}
.heading{
  padding-top: 20px;
}
.quiz{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height:400px;
  border: 1px solid green;
  border-radius: 30px;
  padding:20px;
  margin:5px auto;
  background-color: gray;
}
.qsection{
font-weight: 300;

}
.options{
  display:flex;
  flex-direction: column;
  padding: 30px 10px;
}
.answers{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: rgb(27, 25, 25);
  border-radius: 10px;
}
.answers:hover, .answers.active{
  background-color: rgb(91, 91, 158);
}
.controllers{
  display:flex;
  margin-top:80px;
}
.btn1{
  color: white;
  background-color: rgb(78, 35, 42);
  width: 70px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;

}
.btn2{
  color: white;
  background-color: blueviolet;
  width: 70px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover:hover{
  background-color: rgb(118, 85, 79);
}
.btn2:hover{
  background-color: rgb(75, 101, 137);
}
.btn3{
  display: none;
  margin-left: 20px;
  border:1px solid rgb(207, 115, 115);
  border-radius: 5px;
  background-color: rgb(35, 80, 35);
  width: 70px;
  color: white;
  padding: 5px;
}
.btn{
  margin-left: 20px;
  border:1px solid rgb(207, 115, 115);
  border-radius: 5px;
  background-color: rgb(35, 80, 35);
  width: 70px;
  color: white;
  padding: 5px;
}
.results{
  display:flex;
  flex-direction:column;
  align-items: center;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  background-color: rgb(188, 156, 156);
  text-align: center;
  margin:10px auto;
  padding:20px;

}
.resultheading{
  color:rgb(140, 25, 203);
  font-size: 30px;
}
.para{
  color:rgb(191, 9, 9);
  font-size: 20px;
}
.tryagain{
  background:linear-gradient(tomato,skyblue);
  padding:5px;
  border-radius: 4px;
  color: white;
  border:none;
 cursor: pointer;
}
.counterclass{
  display: flex;
  position:absolute;
  color: red;
  border-radius: 10px;
  top:0;
  left:10px;
  background-color: bisque;
  padding: 2px 5px;
  margin:5px;
}
.startinput{
  padding:5px;
  width: 200px;
  border:1px dotted green;
  border-radius: 5px;

}
.startbtn{
  display:flex;
  cursor: pointer;
  margin: 10px auto;
  width: 100px;
  padding: 5px 30px;
  background-color: rgb(177, 50, 71);
  color: white;
}